<div class="maincontent">
  <article class="article">
    <h1 class="article-title">About India</h1>
      <p>India is a country in South Asia. It is the Seventh-Largest country by area and second-largest by population and most populous democracy in the world. Home to the Indus Valley Civilization and a region of historic trade routes and vast empires, the Indian subcontinent was identified with its commercial and cultural wealth for much of its long history. Four major world religions, Hinduism, Buddhism, Jainism and Sikhism originated there, while Zoroastrianism, Judaism, Christianity and Islam arrived in the first millennium CE and shaped the region's diverse culture.</p>
      <p>India got its independence on August 15th, 1947. It was the day when the Indians got liberated from the rule of the British. Agriculture is not only the dominant occupations of the people of India but is also one of the most important economic sectors for the country. India is a vast country in the Southern portion of Asia which is bound by Indian Ocean on its south, Arabian Sea on its west and Bay of Bengal on its east and borders Pakistan, Nepal, Bhutan, China and Bangladesh on its north, northwest, northeast and east.</p>
  </article><!-- article -->

  <article class="article">
    <h1 class="article-title">Festivals of India!</h1>
    <p>The fairs and festivals either celebrate the change of seasons or are of a religious nature. For instance, Mewar festival and Holi are celebrated to mark the arrival of the spring season. Teej of Rajasthan marks the onset of the monsoon. On the other hand, Onam in Kerala and Bihu in Assam are celebrated to mark the harvesting season. Other festivals, like the Konark Dance Festival, promote the culture of India. </p>
  </article><!-- article -->

  <article class="article">
    <h1 class="article-title">India Facts!</h1>
    <ul>
      <li>India is the 7th largest country in the world and has over 3 million square kilometers of land, but only 9.6% of their land is occupied by water.</li>
      <li>India’s army is the third largest in the world, and they have been ranked as the seventh best armies in the world.</li>
      <li>Major languages Hindi, English and more than 20 other official languages</li>
      <li>Major religions Hinduism, Islam, Christianity, Sikhism, Buddhism</li>
      <li>The country has 28 states and 7 territories and is home to many different cultures and ethnic groups.</li>
    </ul>
  </article><!-- article -->
</div>
