<article class="sidebar">
  <h1 class="sidebar-title">Republic of India</h1>
  <ul class="sidebar-body">
    <li><b>Motto: </b>Truth Alone Triumphs</li>
    <li><b>Capitol: </b>New Delhi</li>
    <li><b>Official Languages: </b>Hindi, English</li>
    <li><b>Currency: </b>Indian Rupee</li>
  </ul>
</article><!-- article -->
